AIRTABLE_PAT=patxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AIRTABLE_BASE_ID=appkaalWhOFGQ7qYX
AIRTABLE_TABLE_IDEAS=tbl7k3PRdVHPFCUYR
AIRTABLE_TABLE_SLIDES=tbltCQz4IfEydvXmR

DISCORD_WEBHOOK_URL=

QA_PASS_THRESHOLD=80
QA_MAX_ATTEMPTS=3
QA_TARGET_STATUS=投稿待ち
